<p>
  <strong>Instructions:</strong>
  Click each item, look in the console. Now, filter the list by entering 'Item
  3' for example. Clicking the item now doesn't work
</p>

<Input aria-label='Filter' @value={{this.query}} />

<p class='clicked'>
  You clicked:
  {{this.clicked}}
</p>

<ul>
  {{#each this.filteredGroups as |group|}}
    <li>
      {{group.title}}

      <ul>
        {{#each group.items as |item index|}}
          <li class='item' {{this.item onClick=(fn this.handleClick index)}}>
            {{item.name}}
          </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>